// Light mode
$primary:   #007BFF;
$secondary: #FF7F11;
$bg:        #f8f9fa;
$text:      #212529;        

/* Dark mode */
$dark-bg:        #121212;   // Fundal principal – aproape negru
$dark-card:      #1e1e1e;   // Fundal pentru carduri, secțiuni etc.
$dark-hover:     #2a2a2a;   // Fundal pentru hover sau navbar
$dark-text:      #f1f1f1;   // Text principal (alb-gri)
$dark-subtext:   #aaaaaa;   // Text secundar / descrieri
// $dark-primary:   #0d6efd;   // Accent albastru pentru dark mode
$dark-primary:   #1f2937;  // Accent albastru pentru dark mode
$dark-secondary: #ff8c1a;   // Accent portocaliu pentru dark mode



$font1: 'Epunda Slab', serif;
$font2: 'Honk', cursive;