// Light mode
$primary:   #007BFF;
$secondary: #FF7F11;
$bg:        #f8f9fa;
$text:      #212529;        

// Dark mode
$dark-bg:        #121212;  
$dark-card:      #1e1e1e;  
$dark-hover:     #2a2a2a;   
$dark-text:      #f1f1f1;   
$dark-subtext:   #aaaaaa;   
$dark-primary:   #1f2937; 
$dark-secondary: #ff8c1a;  



$font1: 'Epunda Slab', serif;
$font2: 'Honk', cursive;