<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <a href="#hero" class="d-flex align-items-center navbar-brand">
      <img src="/assets/images/logo2.png" alt="GameVerse Logo" class="logo me-2" />
      <span class="brand-text">GameVerse</span>
    </a>
    <button class="navbar-toggler toggler-icon-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custom-links" id="navbarNav">
      <ul class="navbar-nav ms-auto nav-bar-custom">
        <li class="nav-item">
          <a class="nav-link" href="#hero">Acasă</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">Jocuri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tech">Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Despre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
      <div class="theme-toggle d-flex align-items-center">
  <input type="checkbox" class="theme-checkbox" id="theme-switch">
  <label for="theme-switch" class="theme-label">
    <i class="fas fa-moon"></i>
    <i class="fas fa-sun"></i>
    <span class="ball"></span>
  </label>
  <span class="theme-text ms-2">Schimbă tema</span>
</div>
  </div>
</nav>



